table(border=1)
    thead
        tr
            th Full Names 
            th Numbers Phones
    tbody
        tr
            td Homero Simson
            td 001-123234
        tr
            td Marge Simson
            td 001-123234
        tr
            td Barth Simson
            td 001-123234