extends inc/layout.pug 
block title
    title 14 - Inheritance
block content
    header 
        h1 14 - Inheritance
        h2 Covers how to use inheritance to avoid code repetition.
    section 
        h3 lorem ipsum dolor 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui a, adipisci recusandae eligendi odio sunt placeat, explicabo optio sequi incidunt assumenda. Quae quaerat ullam aperiam voluptas libero, id amet deleniti! 