doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 17 - Challenge
        link(rel="stylesheet", href="../../css/styles.css")
       style.
        .block {
            width: 100px;
            height: 50px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin-bottom: 5px;
            border-radius: 5px;
        }
    body.pug
        nav
            a(href="../index.html")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                    path(fill="#ffffff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z")
        main
            header
                h1 17 - Challenge
                h2 Provides an exercise to apply the learned concepts.
            section 
                .block(style="background-color: #00eaff") 1
                .block(style="background-color: #00b8ff") 2
                .block(style="background-color: #007aff") 3
                .block(style="background-color: #004fff") 4
                .block(style="background-color: #7d3cff") 5
                .block(style="background-color: #b63cff") 6
                .block(style="background-color: #e03cff") 7
                .block(style="background-color: #ff3ccc") 8
                .block(style="background-color: #ff3c78") 9
                .block(style="background-color: #ff3c4a") 10                          