@font-face {
    font-family: 'Poppins-400';
    src: url(../../fonts/Poppins-400.ttf);
}
@font-face {
    font-family: 'Poppins-600';
    src: url(../../fonts/Poppins-600.ttf);
}
body {
    font-family: Poppins-400;
}
nav.navbar.bg-custom {
    background-color: #4E2835;
    a.navbar-brand{
        color: #fde9f0;
    }
    a.nav-link{
        color: #EFCED9;
    }
}
/* Hero section */
div.row.hero {
    padding-top: 80px;
    div.col:nth-child(1){
        background-color: #946573;
        height: 680px;
        h2, h3, p{
            color: #42222d;
        }
        p.text-justify {
            text-align: justify;
        }
        a.btn.bg-custom {
            background-color: #3B1724;
            color: #F5DDE5;
        }
    }
    div.col:nth-child(2) {
        background: #c496a3 url(../06-challenge/images/hero-picture.png) no-repeat center bottom;
        height: 680px;
       
    }
}